body,
h1,
a {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.cart {
  width: 30vh;
  padding: 10px;
  margin: 10px;
  align-items: center;
  position: absolute;
  top: -2%;
  right: 0;
}

.cart-heading {
  font-size: 10px;
}

/* Add this CSS to your existing stylesheet */
#open-cart {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clear-cart {
  background-color: #c75b4f;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

#clear-cart:hover {
  background-color: #e61700;
}


#open-cart:hover {
  background-color: #2b6eeb;
}


.hidden {
  display: none;
}
 

/* Style the header as a flex container */
.header {
  display: flex;
  justify-content: space-between; /* Distribute items horizontally */
  align-items: center; /* Center items vertically */
  background-color: #000000;
  color: #fff;
  padding: 10px;
}

/* Style the h1 with class "capie" */
.capie {
  font-size: 36px;
  margin: 0;
}

/* Style the navigation links in the ".Nav" div */
.Nav {
  margin-top: 20px;
}

.Nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

/* Style the cart button */
.cart-btn {
  display: flex;
  align-items: center; /* Center items vertically */
}

.cart-btn i {
  font-size: 24px;
  cursor: pointer;
}

.cart-quantity {
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Style the sign-out button */
#signOutButton {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#signOutButton:hover {
  background-color: #f44336;
}

 
.image {
  background: url(/online/img/men.jpg) no-repeat center center / cover;
  height: 80vh;
  margin: 0px;
}

.head {
  position: absolute;
  top: 200px;
  left: 250px;
  font-size: 30px;
  color: white;
}


/* styles.button */
.custom-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #000000;
}

.product-image {
  max-width: 30rem;
  margin-left: 8rem;
}



img {
  max-width: 100%;
  display: block;
}

.cart-btn {
  position: relative;
  display: flex;
  margin-left: 500px;
}

#cart {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 1em 4em 0 0;
}

.cart-quantity {
  color: white;
  background-color: red;
  padding: .2em .3em;
  position: absolute;
  margin: .8em 7.5em 0 0;
  right: 0;
  border: solid 2px red;
  border-radius: 15px;
  font-weight: bolder;
}

.items-container {
  display: flex;
  height: 40rem;
  background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.card {

  margin-top: 10rem;
  position: relative;
  overflow: hidden;
  height: 22rem;
  text-align: center
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product {
  background-color: #f7fbff;
  margin-left: 8rem;
}

.product-image {
  height: 300px;
  margin-left: 8rem;
  margin-bottom: 1rem;
}

.add-to-cart {
  background-color: rgb(0, 0, 0);
  color: white;
  position: absolute;
  right: 0;
  font-family: 'Roboto', sans-serif;

  top: 55%;
  padding: .4em 1em;
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;

}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(12, 12, 12);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  border-radius: 8px;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;

}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
  /*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: rgb(0, 159, 252);
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:hover {
  color: #e9f0ec;

}

.remove-btn:active {
  transform: translateY(5px);
}


/* Add some styling to the "Clear Cart" button */
.clear-cart-btn {
  background-color: #046feb;
  /* Red color */
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.clear-cart-btn:hover {
  background-color: #d32f2f;
}






.checkout-container {
  max-width: 250px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
}

/* Styling for user information section */
.user-information label,
.payment-methods label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for payment methods section */
.payment-methods {
  margin-top: 20px;
}

/* Styling for the "Place Order" button */
.place-order-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.place-order-button:hover {
  background-color: #07284b;
}

/* styles for address, phone number, and city*/
.user-information input[type="text"],
.user-information input[type="tel"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.payment-methods label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.payment-methods input[type="radio"] {
  margin-right: 5px;
}









.sign-up-form {
  display: none;
  position: absolute;
  top: 20rem;
  padding: 20px;
  margin-left: 50rem;
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
  color: #000000;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.sign-up-form h2 {
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.sign-up-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1rem;

}

.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-up-form button.submit-signup-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #002fff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
}

.sign-up-form button.submit-signup-button:hover {
  background-color: #208cff;
}





.sign-up-button {
  font-size: 1rem;

  font-weight: bolder;
  background-color: rgb(0, 25, 252);
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 3em 0 2em 0;
  transition: background-color 0.3s ease;

}

.sign-up-button:hover {
  background-color: #208cff;
}


/* Sign In Form */
.sign-in-form {
   display: none;

  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
  color: #000000;
  margin-left: 50rem;
  position: absolute;
  top: 20rem;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.sign-in-form h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.sign-in-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1rem;

}

.sign-in-form input[type="email"],
.sign-in-form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-in-form button.submit-signin-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #002fff;
  color: #fff;
  border: none;
  transition: background-color 0.4s ease;
  border-radius: 4px;
  cursor: pointer;
}

.sign-in-form button.submit-signin-button:hover {
  background-color: #208cff;
}

.sign-in-button {
  font-size: 1rem;
  font-weight: bolder;
  background-color: rgb(0, 25, 252);
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 3em 0 2em 0;
  transition: background-color 0.4s ease;
}

.sign-in-button:hover {
  background-color: #1e57f3;
}

#website-content {
  display: none;
}

.welcome {
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 50px;
  color: #ffffff;
  height: 5rem;
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(16, 38, 61) 51.2%, rgb(0, 0, 0) 98.6%);
}


#signOutButton {
  background-color: #fd2e00;
  color: #fff;
  padding: 10px 20px;
  border: none;

  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#signOutButton:hover {
  background-color: #ff4422;
}

 

/* Initially hide sign-up and sign-in buttons */
.sign-up-button,
.sign-in-button {
  display: block; /* Change this to 'block' if needed */
}

/* Hide the container for signed-in elements by default */
#signedInElements {
  display: none;
}


/* Style the purchase history container */
.purchase-history-container {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 20rem;
  color: white;
  background-color: #000000;
}

/* Style the purchase record header */
.purchase-record h3 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

/* Style the list of purchased items */
.purchase-record ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.purchase-record li {
  font-size: 14px;
  margin: 5px 0;
}

/* Style the Purchase History display area */
.purchase-history-display {
  margin-top: 20px;
}

/* Style the Purchase History button */
#purchaseHistoryButton {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
    transition: background-color 0.4s ease;

}

#purchaseHistoryButton:hover {
  background-color: #0056b3;
}
